@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.4;
}
section{
    padding: 80px 0; 
}
/*Header section*/
@media(max-width:2000px){
.header-section{
    height: 141px;
}
.container{
    width: 1150px;
    margin: auto;
    font-size: 15px;
}
.top_Bar{
    overflow: hidden;
}
.contact-head{
    background: #F5F5F5;
}
.phone{
    width: 210px;
    float: left;
    padding: 15px 10px;
    border-right: 1px solid rgba(221, 221, 221,.7);
    border-left: 1px solid rgba(221, 221, 221,.7);
}

.email{
    width: 740px;
    float: left;
    padding: 15px;
}
.social{
    width: 200px;
    float: left;
}
.social a{
    display: block;
    padding: 15px 18px;
    float: left;
    border-right: 1px solid rgba(221, 221, 221,.7);
    color: #2b2b2b;
    transition: .3s;
}
.social a:first-child{
    border-left: 1px solid rgba(221, 221, 221,.7);
}
.phone i,
.email i{
    color: #ff5200;
}
.social a:hover{
    color: #ff5200;
}
.logo{
    width: 150px;
    float: left;
    padding: 22px 0px;
}
.menu{
    width: 990px;
    float: left;
}
.menu ul li{
    display:inline-block;
    padding: 31px 0px;
    margin-right: 30px;
    position: relative;
}
.main-menu{
    float: right;
}
.menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;;
    letter-spacing: .08em;
    line-height: 30px;
    transition: .2s;
}
.menu ul li .active{
    color: #ff5200;
}
.main-menu li a:hover{
    color: #ff5200;
}
.sub-menu li a:hover{
    color: #0f0f0f;
}
.menu ul li a i{
    font-size: 18px;
}
.menu ul li .arrow:after{
    display: inline-block;
    content: "\e64b";
    margin-left: 5px;
    font-size: 12px;
    font-family: "themify";
    font-style: normal;
    font-weight: bold;
    line-height: 0.9;
}

.sub-menu {
  position: absolute;
  left: 0px;
  background: rgb(255, 255, 255);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
   top: 100%;
    width: 270px;
    transform: scaleY(0);
    opacity: 0;
    margin-top: 1px;
    transform-origin: top;
    transition: 600ms ease;

}
.sub-menu li{
    float: none;
    margin-left: 10px;
    padding: 4px 28px!important;
}
.sub-menu li a{
    position: relative;
    font-size: 15px;
    line-height: 1.2;
    color: #000;
    font-weight: 500;
    font-family: normal;
    text-align: left;
    display: inline-block;
text-transform: capitalize !important;

}
.menu .main-menu .dropdown:hover .sub-menu{
    transform: scaleY(1);
    opacity: 1;
}
.sub-menu li a:hover{
    margin-left: 8px;
}
.sub-menu li a::before{
    content: '';
    height: 2px;
    width: 0px;
    opacity: 0;
    transition: all 600ms ease !important;
}
.sub-menu li a:hover:before{
    width: 15px;
    background-color: #ff5200;
    opacity: 1;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
}
@media(max-width:2000px){
    .home-slider{
        background: url('/Project-Brigate/Resources/img/slide-1.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
     height: 560px;
     padding: 0;
    }
    .slider-content h2{
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px;
      padding-top: 130px;
        font-size: 50px;
    
    }
    .slider-content{
        width: 600px;
        color: #F5F5F5;
        font-family: 'Work Sans', sans-serif ;
    }
   .slider-content p{

       line-height: 25px;
       width: 490px;
       margin-bottom: 45px;
       font-size: 18px;
    font-weight: 500;
   }
   .slider-content a{
       background: #ff5200;
       color: #F5F5F5;
       border: none;
       padding: .85em 2.4em;
       font-size: 16px;
       font-weight: 600;
       border-radius: 3px;
       margin-bottom: 120px;
      text-decoration: none;
      font-family:'Oswald', sans-serif ;
      text-transform: uppercase;
      letter-spacing: 1px;
   }
   .slider-navigation{
    width: 60px;
    margin: auto;
    padding: 100px 0;
   }
   .slider-navigation span{
       width: 15px;
       height: 15px;
       border: 3px solid #ddd;
       background: transparent;
       display: grid;
       border-radius: 100%;
       float: left;
       margin: 5px 5px;
   }
   .slider-navigation span:last-child{
       background: #ff5200;
       border-color: #ff5200;
   }
}
@media(max-width:2000px){
    .service-section{
        background-color: #f5f6f6;
        overflow: hidden;
    }
    .singleBox{
        background: #fff;
        width: 255px;
        padding: 15px;
        text-align: center;
        height: 350px;
        float: left;
        margin-left: 32px;
    }
    .serviceBox-wrapper .title h2{
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 1px;
        font-weight: 450;
        margin: 25px 0;
    }
   .serviceBox-wrapper .desc p{
    font-family: 'Work Sans', sans-serif;
    color: #656565;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
   }
   .serviceBox-wrapper .link{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #ff5200;
   }
   .serviceBox-wrapper .link i{
    margin-left: 7px;
    font-size: 11px;
   }
   .singleBox:nth-child(2){
       background:#ff5200 ;
   }
   .serviceBox-wrapper .special .title,
   .serviceBox-wrapper .special .desc p,
   .serviceBox-wrapper .special .link{
    color: #fff;
   }
}


